* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1919;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: black;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-family: "Karantina";
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-family: "Anton";
    font-size: 20px;
    letter-spacing: .05rem;
}

.menu li a:hover {
    color: #EB8317;
}

.topsite .pagetitle {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 2rem;
    color: white;
    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" -10,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 400,
      "YOPQ" 116,
      "YTAS" 750,
      "YTDE" -250,
      "YTFI" 600,
      "YTLC" 500,
      "YTUC" 725;
}

.topsite .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topsite .CheckedIn {
    color: white;
    padding: 1rem;
    margin-right: 2rem;
    font-family: "Anton";
    letter-spacing: .05rem;
    display: inline-block;
    background: linear-gradient(90deg, #141414 0%, #040087 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 70px;
}

.Search{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-wrapper {
    min-width: 300px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
    background-color: #fff;
    padding: 5px;
}

.field {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
}
  
.bx-search {
    padding: 10px;
    border: none;
    font-size: 18px;
    background-color: #771dff;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

