* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}


nav {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: black;
}
.nav-con {
    display: flex;
    justify-content: space-between;
}
.logo a {
    font-family: "Karantina";
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li {
    margin: 0 1rem;
}
.menu li a {
    color: white;
    text-decoration: none;
    font-family: "Anton";
    letter-spacing: .05rem;
    font-size: 20px;
}
.menu li a:hover {
    color: #EB8317;
}


.user-info-con {
    display: flex;
    margin-left: 20%;
}
.user-info img {
    margin-top: 5rem;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.2);
}
.user-info-1 {
    font-family: "Anton";
    letter-spacing: .05rem;
    color: white;
    margin-left: 5rem;
    margin-top: 8rem;
}
.user-name .Name {
    opacity: 70%;
}
.user-ranking .Ranking {
    opacity: 70%;
}
.user-ranking {
    margin-top: 2rem;
}
.user-hand .Hand{
    opacity: 70%;
}
.user-hand {
    margin-top: 2rem;
}
.user-info-2 {
    font-family: "Anton";
    letter-spacing: .05rem;
    color: white;
    margin-left: 10rem;
    margin-top: 8rem;
}
.user-string {
    margin-top: 2rem;
}
.String {
    opacity: 70%;
}
.UserID {
    opacity: 70%;
}


.user-cost-rating-con {
    display: flex;
    margin-top: 5rem;
    margin-left: 20%;
    color: white;
    font-family: "Anton";
    letter-spacing: .05rem;
}
.all-time-cost {
    margin-left: 50.9%;
}


.user-game-rank {
    margin-top: 15rem;
    margin-left: 20%;
    display: flex;
    color: white;
    font-family: "Anton";
    letter-spacing: .05rem;
}
.rank {
    margin-left: 35rem;
}


.user-game-rank-info {
    display: flex;
    color: white;
    font-family: "Anton";
    letter-spacing: .05rem;
    margin-left: 20%;
    margin-top: 2rem;
}
.user-game-totalgame {
    margin-right: 2.5rem;
}
.user-game-totalgame h4{
    opacity: 70%;
}
.user-game-wingame {
    margin-right: 1.5rem;
}
.user-game-wingame h4{
    opacity: 70%;
}
.user-game-drawgame {
    margin-right: 1.5rem;
}
.user-game-drawgame h4{
    opacity: 70%;
}
.user-game-losegame {
    margin-right: 1.5rem;
}
.user-game-losegame h4{
    opacity: 70%;
}
.user-rank-mmr {
    margin-right: 3rem;
    margin-left: 12.7rem;
}
.user-rank-mmr h4{
    opacity: 70%;
}
.user-rank-currentrating h4{
    opacity: 70%;
}
.user-winrate {
    color: white;
    font-family: "Anton";
    letter-spacing: .05rem;
    margin-left: 20%;
    margin-top: 2rem;
}
.user-winrate h4 {
    opacity: 70%;
}


.lastgame-title {
    display: flex;
    color: white;
    font-family: "Anton";
    letter-spacing: .05rem;
    margin-top: 5rem;
}
.lastgame-viewall {
    align-items: center;
    display: flex;
}
.lastgame {
    margin-left: 20%;
}
.viewall {
    margin-left: 55%;
    margin-top: 5rem;
}
.viewall .viewall-btn {
    outline: #ffffff solid 2px;
    font-family: "Anton";
    letter-spacing: .05rem;
    display: inline-block;
    color: white;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
    text-decoration-line: none;
    
}